body {
      background-color: black;

}

.all {
      display: flex;
      -webkit-flex-wrap: wrap;
      flex-wrap: wrap;
      justify-content: space-between;
      margin: 4vw;
}

.one {
      margin: 4vw;
}